<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
  <fieldset ngModelGroup="userData">
    <label>username: <input name="username" #username="ngModel" ngModel required> </label>
      <span *ngIf="username.invalid && submitted" style="color: red">
        Username is required!
      </span>
    <label>lastname: <input name="lastName" ngModel></label>
  </fieldset>
  <fieldset ngModelGroup="otherUserData">
    <label>age: <input name="age" ngModel></label>
    <label>country: <input name="country" ngModel></label>
  </fieldset>
  <button type="submit" >Wyślij</button>
</form>
