<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <label>username: <input name="username" formControlName="firstName"> </label>
    <span *ngIf="f.invalid && submitted" style="color: red">
      <span *ngIf="f.errors && f.errors.required">Username is required!</span>
      <span *ngIf="f.errors && f.errors.minlength">Min {{f.errors.minlength.requiredLength}} chars</span>
    </span>
    <label>lastname: <input name="lastName" formControlName="lastName"></label>
  </div>
  <label>age: <input name="age" formControlName="age"></label>
  <label>country: <input name="country" formControlName="country"></label>
  <button type="submit">Wyślij</button>
</form>
